@media only screen and (min-width: 990px){
    .accordion{
        display: none;
    }
}
.card-header{
    background: #000;
    background-size: cover;
    padding: 0;
    border: none;

}

.card-header h1{
    font-size:28px;
}
.card-header h1:hover{
    text-decoration: none;
}
.card-body h2{
    font-size: 28px;
    color: #0080b4;
    text-align: center;
    padding-bottom: 1em;
}
.card-body h4{
    font-size: 20px;
    color: #0080b4;
}
.card{
    overflow: visible !important;
    position: unset !important;
    border: none !important;
}